<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta name="viewport" content="width=device-width" />
    <link rel="icon" href="templates/favicon.png" type="image/png" />
	<title>{PAGE_TITLE_HEAD  - }{WIKI_TITLE}</title>
	
    <!--<link rel="stylesheet" type="text/css" href="templates/paper/paper.css" title="paper" />-->

	<link rel="stylesheet/less" href="templates/paper/paper.less" />
		
	<script src="templates/js/less.js" type="text/javascript"></script>

	{HEAD}
    
</head>
<body>

<header>
<h1> <a href='index.php'><img src='var/upload/lionwiki-t2t_logo.svg' alt='{WIKI_TITLE}' border='0' width='100px' /></a> {WIKI_TITLE}   </h1>

</header>


<main>  

<div class="paper container">

<nav><hr/>
	{HOME}  {- &nbsp; RECENT_CHANGES}  {- &nbsp; EDIT}  {- &nbsp; SYNTAX} { &nbsp; MENU}
</nav>





<!--<hr/>-->


<h1 id="page-title">{PAGE_TITLE} {<span class="pageVersionsList">( plugin:VERSIONS_LIST )</span>}</h1>


    
		{<div style="color:#F25A5A;font-weight:bold;"> ERROR </div>}
		{CONTENT} {plugin:TAG_LIST}
		{CONTENT_FORM} {RENAME_TEXT} {RENAME_INPUT <br/><br/>} {CONTENT_TEXTAREA}
		<p style="float:right;margin:6px">{FORM_PASSWORD} {FORM_PASSWORD_INPUT} {plugin:CAPTCHA_QUESTION} {plugin:CAPTCHA_INPUT}
		{EDIT_SUMMARY_TEXT} {EDIT_SUMMARY_INPUT} {CONTENT_SUBMIT} {CONTENT_PREVIEW}</p>{/CONTENT_FORM}
        

<hr/>

<div>{SEARCH_FORM}{SEARCH_INPUT}{SEARCH_SUBMIT}{/SEARCH_FORM}</div><hr/><br/>{LAST_CHANGED_TEXT}: {LAST_CHANGED} {COOKIE}<br/>Powered by <a href="https://lionwiki-t2t.sourceforge.io/">LionWiki-t2t</a>. </br>{EDIT} {SYNTAX} {HISTORY} {RECENT_CHANGES}

</div>
</main>

</body>
</html>
<!--
Theme based on https://wiki.xxiivv.com/site/oscean.html
-->