apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lionwiki-sample   


spec:
  backend:
    service:
      name: lionwiki
      port: 80
  rules:
  - host: yourdomain.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: lionwiki
            port:
              number: 80


