version: '3'

services:
  lionwiki:
    image: 'farvardin4/lionwiki:latest'
    ports:
      - '11080:80'
      - '11443:443'
    volumes:
      - 'lionwikidata:/var/www/html'
volumes:
  lionwikidata:
    driver: local
