/*-----------------------

	-------------
	 -  Brut  -
	-------------
	
	a template for Lionwiki-t2t
	https://lionwiki-t2t.sourceforge.io/
	
	based on 
   
    brut theme
	
----------------------------*/
/* theme 1 */
/* normal or bold */
/* overriding default values */
/* theme 6 */
/* Summer shower Magenta cyan */
/* https://www.canva.com/colors/color-palettes/thwarted-summer-shower/ */
/* normal or bold */
/* not used */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: bold;
  font-weight: 300;
  src: url(../fonts/ArchivoNarrow-Bold.woff) format('woff');
}
/* Archivo Narrow    */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/OpenSans-Extrabold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../fonts/OpenSansLight-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(../fonts/OpenSans-SemiboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../fonts/OpenSans-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(../fonts/OpenSans-ExtraboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(../fonts/OpenSans-CondensedBold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../fonts/OpenSans-CondensedLight.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url(../fonts/OpenSans-CondensedLightItalic.woff) format('woff');
}
/* Open Sans         */
* {
  font-family: inherit;
}
body {
  font-size: 1.1rem;
  font-family: Open Sans;
  background-color: #bcece0;
  color: #050506;
  letter-spacing: 1px;
  padding-bottom: 5rem;
  /*padding-top: 1rem;*/
  line-height: 1.6rem;
}
.break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.hidden {
  display: none;
}
img {
  border: 0px;
  margin: 10px;
}
a {
  color: #4c5270;
  text-decoration: none;
}
a:active {
  color: #4c5270;
  text-decoration: none;
}
a:focus {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #4c5270;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
a.inverse {
  color: #112326;
  padding: 1px 5px;
}
a.inverse:active {
  color: #112326;
  padding: 1px 5px;
}
a.inverse:focus {
  color: #112326;
  padding: 1px 5px;
}
table {
  width: 100%;
  border: 0px;
}
th {
  background: #050506;
  color: #bcece0;
  font-weight: bold
 border: 0px;
}
tr {
  background: #bcece0;
  color: #050506;
  border: 0px;
}
td {
  padding: 4px;
  background: #bcece0;
  color: #050506;
  border: 2px;
}
p {
  font-size: 1.1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
header {
  text-align: right;
  top: 0;
  width: 100%;
  left: 50%;
  /*max-width: 800px;*/
  margin: 10px auto;
  font-size: 0.8em;
  border: 2px solid #050506;
  border-bottom: 5px solid #050506;
  display: flex;
  flex-direction: row;
}
.flex-left {
  width: 75%;
  background-color: #f652a0;
  text-align: left;
  /*height: 100vh;*/
}
.flex-right {
  background-color: #36eee0;
  width: 25%;
  border-left: 2px solid #050506;
}
pre,
blockquote {
  padding-left: 20px;
}
pre {
  background-color: #cefef2;
  line-height: 1.5em;
  font-family: Courier ;
  font-size: 1em;
  margin: 1.0em;
}
code,
blockquote,
dt {
  background-color: #cefef2;
  font-family: Courier ;
  font-size: 1em;
  /*margin: 1.0em;*/
}
header hr {
  /*background-color: lighten(@fg, 50%);*/
  background-color: #4c5270;
}
header h1 {
  margin-left: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #050506;
  font-weight: bold;
  line-height: 2rem;
}
/* maximum font size, see https://css-tricks.com/how-do-you-do-max-font-size-in-css/ */
h1 {
  font-size: clamp(2em, 4vw, 6em);
}
h2 {
  border: 2px solid #050506;
  border-bottom: 5px solid #050506;
  margin-top: 1.8em;
  text-align: center;
}
h2 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h2:hover span.par-edit {
  visibility: visible;
}
nav {
  margin-top: 1.8em;
  text-align: center;
}
hr {
  width: 40%;
  margin: 1.5rem auto;
  color: #050506;
  background-color: #050506;
  border: none;
  height: 2px;
}
a.top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #050506;
  color: #112326;
  text-align: center;
  box-shadow: 0 0 4px #bcece0;
  padding: 0.25rem;
}
a.top:visited {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #4c5270;
  color: #112326;
  text-align: center;
  box-shadow: 0 0 4px black;
  padding: 0.25rem;
}
a.top:active {
  transform: scale(0.9);
}
a.back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: unset;
  bottom: unset;
  font-size: 0.9rem;
}
a.back:visited {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: unset;
  bottom: unset;
  font-size: 0.9rem;
}
a.back:active {
  transform: scale(0.9);
}
.inverse {
  color: #112326;
  background-color: #CCF9F7;
}
main {
  max-width: 800px;
  margin: 10px auto;
}
footer {
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
  font-size: 0.6em;
  background-color: #36eee0;
  border: 2px solid #050506;
  border-bottom: 5px solid #050506;
}
caption {
  font-weight: 700;
  line-height: 2rem;
}
td {
  border-bottom: 0px solid;
}
tr.header-row {
  background-color: #050506;
  color: #bcece0;
}
p.notice {
  background-color: #CCF9F7;
  color: #183547;
  padding: 1rem;
  box-shadow: 11px 11px 0px #FFFF11;
  text-align: center;
}
p.notice a {
  text-decoration: underline;
}
.menu li {
  line-height: 2rem;
  display: inline-block;
  padding: 5px;
}
.menu li::before {
  content: "[ ";
}
.menu li::after {
  content: " ]";
}
ul {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
ul li {
  list-style: none;
}
ul li::before {
  content: "- ";
}
h3 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h3:hover span.par-edit {
  visibility: visible;
}
h4 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h4:hover span.par-edit {
  visibility: visible;
}
h5 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h5:hover span.par-edit {
  visibility: visible;
}
h6 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h6:hover span.par-edit {
  visibility: visible;
}
#renameForm {
  display: block;
  margin-bottom: 6px;
}
.submit {
  border: 2px solid #bcece0;
  padding: 1px;
}
.submit:hover {
  border: 2px solid #050506;
  color: #bcece0;
  background-color: #050506;
}
.contentTextarea {
  width: 100%;
}
input {
  border: 2px solid #050506;
  padding: 2px;
  font-size: 1rem;
  background-color: #36eee0;
  color: #050506;
}
input:hover {
  background-color: #bcece0;
}
input:focus {
  background-color: #bcece0;
}
select {
  border: 2px solid #050506;
  padding: 2px;
  font-size: 1rem;
  background-color: #bcece0;
  color: #050506;
}
textarea {
  border: 2px solid #050506;
  padding: 2px;
  font-size: 1.1rem;
  background-color: #bcece0;
  color: #050506;
  padding: 3px;
}
#toc {
  border: 2px dashed #bcece0;
  margin: 5px 0 5px 10px;
  padding: 6px 5px 7px 0px;
  float: right;
  padding-right: 2em;
  list-style: none;
  background: #abdbcf;
}
#toc ul {
  list-style: none;
  padding: 3px 0 3px 10px;
}
#toc li {
  font-size: 0.9rem;
  padding-left: 10px;
  display: block;
}
#toc {
  border: 2px solid #050506;
  /*#11141A;*/
  padding: 5px 5px 5px 5px;
  float: right;
  padding-right: 2em;
  list-style: none;
  background: #abdbcf;
  clear: right;
}
#toc ul {
  list-style: none;
  padding-left: 10px;
}
#toc li {
  font-size: 11px;
  padding-left: 10px;
}
#diff {
  padding: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  width: 97%;
}
#diff ins {
  color: green;
  text-decoration: none;
  font-weight: bold;
}
#diff del {
  color: red;
  text-decoration: line-through;
}
#diff .orig {
  color: #666;
  font-size: 90%;
}
#headerLinks {
  list-style-type: none;
}
/* Progress bar */
progress {
  color: #050506;
  background-color: #bcece0;
  border-radius: 0px;
  border: solid 2px;
  width: 10em;
  height: 1em;
}
progress::-moz-progress-bar {
  color: #050506;
  background: #050506;
}
progress::-webkit-progress-value {
  color: #050506;
  background: #050506;
}
progress::-webkit-progress-bar {
  color: #bcece0;
  background: #bcece0;
}
.block {
  display: inline-block;
  width: 65%;
  border: 2px solid #050506;
  background-color: #bcece0;
  min-height: 50px;
  /*margin: 5px;*/
  margin-top: 6px;
  margin-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: -2px;
  padding-bottom: 0px;
  font-size: 1.1rem;
  color: #050506;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
}
.block a {
  display: inline-block;
  min-width: 100%;
  padding: 0px;
  padding-top: 0px;
  min-height: 46px;
  line-height: 46px;
  color: #050506;
  text-decoration: none;
  border-radius: 0px;
}
.block a:hover {
  background-color: #050506;
  border-bottom: 5px solid #050506;
  margin-bottom: -5px;
  color: #bcece0;
  margin-left: -2px;
  margin-right: -2px;
  padding-left: 2px;
  padding-right: 2px;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.tagList {
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin-top: 0.5em;
  /*border: 1px dashed #31343A;*/
  /*background: #eee;*/
  clear: right;
}
.tagCloud {
  float: right;
  width: 200px;
  padding: 0.5em;
  margin: 1em;
  border: 2px dashed #4c5270;
  background: #bcece0;
  clear: right;
  border-radius: 0px;
  /*font-size: 0.5em;*/
}
/* Todotxt support */
.todotxt_A {
  color: #000000;
}
.todotxt_B {
  color: #121212;
}
.todotxt_C {
  color: #1f1f1f;
}
.todotxt_D {
  color: #2c2c2c;
}
.todotxt_E {
  color: #393939;
}
.todotxt_F {
  color: #454545;
}
.todotxt_context {
  color: #060605;
}
.todotxt_tag {
  color: #060506;
}
.todotxt_deleted {
  opacity: 0.4;
}
@media (prefers-color-scheme: dark) {
  body {
    filter: invert(90%) hue-rotate(90deg);
  }
  html {
    background-color: #111;
  }
}
