/*-----------------------

	-------------
	 -  Geek  -
	-------------
	
	a template for Lionwiki-t2t
	https://lionwiki-t2t.sourceforge.io/
	
	based on 
   
    https://rawtext.club/~sloum/
	
----------------------------*/
/* theme 1 */
/* normal or bold */
/* overriding default values */
/* Solarized light */
/* normal or bold */
* {
  font-family: inherit;
}
body {
  font-size: 1.1rem;
  font-family: monospace;
  background-color: #fdf6e3;
  color: #586e75;
  letter-spacing: 1px;
  padding-bottom: 5rem;
  /*padding-top: 1rem;*/
  line-height: 1.6rem;
}
.break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.hidden {
  display: none;
}
img {
  border: 0px;
  margin: 10px;
}
a {
  color: #586e75;
  text-decoration: none;
}
a:active {
  color: #586e75;
  text-decoration: none;
}
a:focus {
  color: #272727;
  text-decoration: none;
}
a:visited {
  color: #586e75;
  text-decoration: none;
}
a:hover {
  color: #272727;
  text-decoration: underline;
}
a.inverse {
  color: #112326;
  padding: 1px 5px;
}
a.inverse:active {
  color: #112326;
  padding: 1px 5px;
}
a.inverse:focus {
  color: #112326;
  padding: 1px 5px;
}
table {
  width: 100%;
  border: 0px;
}
th {
  background: #586e75;
  color: #fdf6e3;
  font-weight: bold
 border: 0px;
}
tr {
  background: #fdf6e3;
  color: #586e75;
  border: 0px;
}
td {
  padding: 4px;
  background: #fdf6e3;
  color: #586e75;
  border: 1px;
}
p {
  font-size: 1.1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
header {
  text-align: center;
  top: 0;
  width: 100%;
  left: 50%;
  /*max-width: 800px;*/
  margin: 10px auto;
  font-size: 0.8em;
  background-color: #eee8d5;
}
pre,
blockquote {
  padding-left: 20px;
}
pre {
  background-color: #fffff5;
  line-height: 1.5em;
  font-family: Courier ;
  font-size: 1em;
  margin: 1.0em;
}
code,
blockquote,
dt {
  background-color: #fffff5;
  font-family: Courier ;
  font-size: 1em;
  /*margin: 1.0em;*/
}
header hr {
  /*background-color: lighten(@fg, 50%);*/
  background-color: #586e75;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #586e75;
  font-weight: normal;
  line-height: 2rem;
}
/* maximum font size, see https://css-tricks.com/how-do-you-do-max-font-size-in-css/ */
h1 {
  font-size: clamp(2em, 4vw, 6em);
}
h2 {
  margin-top: 1.8em;
  text-align: center;
}
h2 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h2:hover span.par-edit {
  visibility: visible;
}
nav {
  margin-top: 1.8em;
  text-align: center;
}
hr {
  width: 40%;
  margin: 1.5rem auto;
  color: #586e75;
  background-color: #586e75;
  border: none;
  height: 1px;
}
a.top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #586e75;
  color: #112326;
  text-align: center;
  box-shadow: 0 0 4px #fdf6e3;
  padding: 0.25rem;
}
a.top:visited {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #586e75;
  color: #112326;
  text-align: center;
  box-shadow: 0 0 4px black;
  padding: 0.25rem;
}
a.top:active {
  transform: scale(0.9);
}
a.back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: unset;
  bottom: unset;
  font-size: 0.9rem;
}
a.back:visited {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: unset;
  bottom: unset;
  font-size: 0.9rem;
}
a.back:active {
  transform: scale(0.9);
}
.inverse {
  color: #112326;
  background-color: #CCF9F7;
}
main {
  max-width: 800px;
  margin: 10px auto;
}
footer {
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
  font-size: 0.6em;
  background-color: #eee8d5;
}
caption {
  font-weight: 700;
  line-height: 2rem;
}
td {
  border-bottom: 0px solid;
}
tr.header-row {
  background-color: #586e75;
  color: #fdf6e3;
}
p.notice {
  background-color: #CCF9F7;
  color: #183547;
  padding: 1rem;
  box-shadow: 11px 11px 0px #FFFF11;
  text-align: center;
}
p.notice a {
  text-decoration: underline;
}
.menu li {
  line-height: 2rem;
  display: inline-block;
  padding: 5px;
}
.menu li::before {
  content: "[ ";
}
.menu li::after {
  content: " ]";
}
ul {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
ul li {
  list-style: none;
}
ul li::before {
  content: "- ";
}
h3 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h3:hover span.par-edit {
  visibility: visible;
}
h4 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h4:hover span.par-edit {
  visibility: visible;
}
h5 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h5:hover span.par-edit {
  visibility: visible;
}
h6 span.par-edit {
  visibility: hidden;
  font-size: x-small;
}
h6:hover span.par-edit {
  visibility: visible;
}
#renameForm {
  display: block;
  margin-bottom: 6px;
}
.submit {
  border: 1px solid #fdf6e3;
  padding: 1px;
}
.submit:hover {
  border: 1px solid #586e75;
  color: #fdf6e3;
  background-color: #586e75;
}
.contentTextarea {
  width: 100%;
}
input {
  border: 1px solid #586e75;
  padding: 2px;
  font-size: 1rem;
  background-color: #eee8d5;
  color: #586e75;
}
input:hover {
  background-color: #fdf6e3;
}
input:focus {
  background-color: #fdf6e3;
}
select {
  border: 1px solid #586e75;
  padding: 2px;
  font-size: 1rem;
  background-color: #fdf6e3;
  color: #586e75;
}
textarea {
  border: 1px solid #586e75;
  padding: 2px;
  font-size: 1.1rem;
  background-color: #fdf6e3;
  color: #586e75;
  padding: 3px;
}
#toc {
  border: 1px dashed #fdf6e3;
  margin: 5px 0 5px 10px;
  padding: 6px 5px 7px 0px;
  float: right;
  padding-right: 2em;
  list-style: none;
  background: #ece5d2;
}
#toc ul {
  list-style: none;
  padding: 3px 0 3px 10px;
}
#toc li {
  font-size: 0.9rem;
  padding-left: 10px;
  display: block;
}
#toc {
  border: 1px dashed #fdf6e3;
  /*#11141A;*/
  padding: 5px 5px 5px 5px;
  float: right;
  padding-right: 2em;
  list-style: none;
  background: #ece5d2;
  clear: right;
}
#toc ul {
  list-style: none;
  padding-left: 10px;
}
#toc li {
  font-size: 11px;
  padding-left: 10px;
}
#diff {
  padding: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  width: 97%;
}
#diff ins {
  color: green;
  text-decoration: none;
  font-weight: bold;
}
#diff del {
  color: red;
  text-decoration: line-through;
}
#diff .orig {
  color: #666;
  font-size: 90%;
}
#headerLinks {
  list-style-type: none;
}
/* Progress bar */
progress {
  color: #586e75;
  background-color: #fdf6e3;
  border-radius: 0px;
  border: solid 1px;
  width: 10em;
  height: 1em;
}
progress::-moz-progress-bar {
  color: #586e75;
  background: #586e75;
}
progress::-webkit-progress-value {
  color: #586e75;
  background: #586e75;
}
progress::-webkit-progress-bar {
  color: #fdf6e3;
  background: #fdf6e3;
}
.block {
  display: inline-block;
  width: 65%;
  border: 1px solid #586e75;
  background-color: #fdf6e3;
  min-height: 50px;
  /*margin: 5px;*/
  margin-top: 6px;
  margin-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: -2px;
  padding-bottom: 0px;
  font-size: 1.1rem;
  color: #586e75;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
}
.block a {
  display: inline-block;
  min-width: 100%;
  padding: 0px;
  padding-top: 0px;
  min-height: 46px;
  line-height: 46px;
  color: #586e75;
  text-decoration: none;
  border-radius: 0px;
}
.block a:hover {
  background-color: #586e75;
  color: #fdf6e3;
  margin-left: -2px;
  margin-right: -2px;
  padding-left: 2px;
  padding-right: 2px;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}
.tagList {
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin-top: 0.5em;
  /*border: 1px dashed #31343A;*/
  /*background: #eee;*/
  clear: right;
}
.tagCloud {
  float: right;
  width: 200px;
  padding: 0.5em;
  margin: 1em;
  border: 1px dashed #586e75;
  background: #fdf6e3;
  clear: right;
  border-radius: 0px;
  /*font-size: 0.5em;*/
}
/* Todotxt support */
.todotxt_A {
  color: #4d6066;
}
.todotxt_B {
  color: #737373;
}
.todotxt_C {
  color: #808080;
}
.todotxt_D {
  color: #8d8d8d;
}
.todotxt_E {
  color: #9a9a9a;
}
.todotxt_F {
  color: #a6a6a6;
}
.todotxt_context {
  color: #755f58;
}
.todotxt_tag {
  color: #6e5875;
}
.todotxt_deleted {
  opacity: 0.4;
}
@media (prefers-color-scheme: dark) {
  body {
    filter: invert(100%) hue-rotate(180deg);
  }
  html {
    background-color: #111;
  }
}
